/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */
#address-view{
  background-color: rgb(243, 243, 243);
  height: auto;
  border-radius: 10px;
  
}